/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*************************/
/* General Component */
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*************************/
/* Reusable Component */
/*************************/

.container {
  margin: 0 auto;
  padding: 3.2rem 3.2rem;
  max-width: 90rem;
}

/*************************/
/* Grid Component Section */
/*************************/

.grid {
  display: grid;
  column-gap: 1.6rem;
  row-gap: 1.2rem;
  place-items: center;
}

.g-c-2 {
  grid-template-columns: repeat(2, 1fr);
}

.g-c-3 {
  grid-template-columns: repeat(3, 1fr);
}

.g-c-4 {
  grid-template-columns: repeat(4, 1fr);
}

.g-gap-1 {
  gap: 0.8rem;
}
/*************************/
/* Flex Component Section */
/*************************/

.flex {
  display: flex;
  gap: 9rem;
  align-items: center;
}

.f-col {
  flex-direction: column;
}

/*************************/
/* Component */
/*************************/

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.9rem 1.2rem;
  cursor: pointer;
}

.btn:active,
.btn:hover {
  font-size: 1.5rem;
}

/*************************/
/* Styling */
/*************************/

.nav {
  justify-content: space-between;
  background-color: burlywood;
  padding: 0.6rem;
}

.btn-nav {
  background-color: bisque;
  border-radius: 9px;
}

.first-section {
  height: 100vh;
}

.section-selection {
  column-gap: 0.4rem;
}

.section-footer {
  background-color: #333;
  max-width: 100%;
}

.btn-footer:link {
  padding: 0;
  row-gap: 1rem;
}

.footer-help-text {
  font-size: 1rem;
  color: bisque;
}

.mm-icon {
  color: bisque;
}

.box {
  border: 1px solid black;
}

.box-1 {
  width: 50px;
  height: 50px;
}

.box-2 {
  width: 80px;
  height: 80px;
}
